/* content */
.search-content{
    display: flex;
    /* max-width: 80%; */
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    position: absolute;
    /* left: 21%; */
    justify-content: center;
    overflow-y: auto;
    padding-bottom: 50px;
}
.search-mid-title {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(125, 115, 115);
    margin: 20px 0;
}
/* user */
.search-content-user, .search-content-post{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em 20%;
}
.search-content-user-scroll {
    max-height: 700px; /* Giới hạn chiều cao tối đa là 1000px */
    overflow-y: auto; /* Thêm cuộn dọc nếu nội dung vượt quá chiều cao */
    padding: 0;
    margin: 0 20%;
}
.search-content-user-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(211, 210, 210); */
    width: 100%;
    border-radius: 10px;
    margin: 1em;
    padding: 15px 20px 15px 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.search-content-user-box-left, .search-content-post-header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    margin-top: 15px;
}
.search-content-user-box-left>img, .search-content-post-header-left>img{
    max-width: 60px;
    width: 100%;
    border-radius: 50%;
    margin: 0.5em;
}
.search-content-user-box-mid, .search-content-post-header-mid{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 1em;
}
.search-content-user-box-mid-name>a, .search-content-post-header-mid>a{
    text-decoration: none;
    /* color: white; */
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.search-content-user-box-mid-bonus{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-content-user-box-mid-bonus>li, .search-content-post-header-mid>li{
    margin: 0.5em;
}
.search-content-user-box-mid-bonus>li:first-child, .search-content-post-header-mid>li{
    list-style-type: none;
}
.search-content-user-box-right{
    /*margin-left: 11em;*/
    /*margin-right: calc(1em - 1em);*/
    position: absolute;
    right: 23%;
}


/* post */
.search-content-post-box{
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: rgb(211, 210, 210);
    width: 100%;
    border-radius: 10px;
    margin: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-top: 1px solid red;
}
.search-content-post-header{
    display: flex;
    justify-content: left;
    margin-top: 1em;
}
.search-content-post-header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 23%;
}
.search-handle-post{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    position: absolute;
    margin-top: 280%;
    left: 23%;
    background-color: rgb(167 174 174 / 50%);
    width:120px;
    height:90px;
}
.search-handle-post>button{
    border: 0px solid #fff;
    border-bottom: 1px solid #515050;
    width: 100px;
    margin:5px 10px;
}
.search-handle-post>button:first-child{
    background-color: rgba(136, 134, 134, 0.3);
}
.search-handle-post>button:last-child{
    background-color: rgba(236, 139, 139, 0.3);
    color: rgb(237, 88, 88);
}

.search-content-post-mid{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 1em;
}
.search-content-post-mid>p{
    height: 60px;              /* Đặt chiều cao cố định */
    overflow: hidden;          /* Ẩn nội dung tràn ra ngoài */
    display: -webkit-box;      /* Định dạng thành hộp flex */
    -webkit-box-orient: vertical; /* Định hướng hộp flex theo chiều dọc */
    -webkit-line-clamp: 3;     /* Giới hạn số dòng hiển thị */
    line-height: 20px;         /* Chiều cao dòng */
    text-overflow: ellipsis;   /* Hiển thị dấu ba chấm khi nội dung tràn */
}
.search-content-post-mid>img{
    max-width: 100%;
    border-radius: 5px;
}
.search-content-post-footer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0.5em 2em;
}
.search-content-post-footer-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    align-items: center;
    padding-bottom: 1em;
}
.search-content-post-footer-top>li{
    list-style-type: none;
}
.search-content-post-footer-bot{
    display: flex;
    justify-content: space-evenly;
}
.search-content-post-footer-bot>button>i{
    margin-right: 0.5em;
}
.btn-liked{
    color: red;
}

